@import '/assets/styles/reset.css';

/* Navbar */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.6rem;
    background-color: #ffffff;
    padding: 0 1.6rem;
}

#header .header-left button,
#header .header-center button,
#header .header-right button {
    display: flex;
    align-items: center;
}

#header .header-left {
    display: flex;
    gap: 1rem;
}

#header .header-left .menu-icon {
    width: 2rem;
    cursor: pointer;
}

#header .header-left .youtube-icon {
    width: 6rem;
    cursor: pointer;
}

#header .header-center {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

#header .header-center input {
    display: none;
}

#header .header-center button {
    display: inherit;
    justify-content: inherit;
    cursor: pointer;
}

#header .header-center .search-icon {
    width: 2rem;
    cursor: pointer;
}

#header .header-right {
    display: flex;
    gap: 1rem;
}

#header .header-right .video-icon,
#header .header-right .bell-icon {
    width: 2rem;
    cursor: pointer;
}

#header .header-right .user-image {
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

@media (min-width: 768px) {
    #header {
        padding: 0 2.4rem;
    }
    #header .header-left {
        gap: 2.4rem;
    }

    #header .header-left .menu-icon {
        width: 2.4rem;
    }

    #header .header-left .youtube-icon {
        width: 9rem;
    }

    #header .header-center {
        justify-content: center;
        padding: 0 2.4rem;
    }

    #header .header-center input {
        display: block;
        border: solid .1rem #CCCCCC;
        height: 4rem;
        width: 100%;
        max-width: 34.8rem;
        min-width: 5rem;
        padding: 1rem;
    }

    #header .header-center button {
        display: flex;
        justify-content: center;
        background-color: #F8F8F8;
        border: solid .1rem #CCCCCC;
        height: 4rem;
        width: 5.7rem;
    }

    #header .header-center .search-icon {
        width: 2.4rem;
    }

    #header .header-right {
        gap: 2.4rem;
    }

    #header .header-right .video-icon,
    #header .header-right .bell-icon {
        width: 2.4rem;
    }

    #header .header-right .user-image {
        width: 3.4rem;
    }
}

/* Main */
/* Main Content */
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

#main .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

#main .main-content .video {
    height: 38rem;
    width: 100%;
    max-width: 102.4rem;
}

#main .main-content header {
    display: flex;
    flex-direction: inherit;
    gap: 1.6rem;
    max-width: 102.4rem;
    padding: 0 1.6rem;
}

#main .main-content header .video-title {
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
}

#main .main-content header .video-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#main .main-content header .video-actions .channel-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

#main .main-content header .video-actions .channel-info .channel-image {
    width: 4.2rem;
    border-radius: 50%;
}

#main .main-content header .video-actions .channel-info .channel-name {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: start;
    line-height: 100%;
}

#main .main-content header .video-actions .channel-info .channel-subscribers {
    font-size: 1.2rem;
    font-weight: 400;
}

#main .main-content header .video-actions .subscribe-button {
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #CC0000;
    color: #FFFFFF;
    height: 4rem;
    width: 100%;
    max-width: 12rem;
    cursor: pointer;
}

#main .main-content header .video-actions .action-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}

#main .main-content header .video-actions .action-button img {
    width: 2.4rem;
}

#main .main-content header .video-views {
    font-size: 1.4rem;
    font-weight: 600;
}

#main .main-content header .video-description {
    font-size: 1.4rem;
    font-weight: 400;
}

@media (min-width: 1024px) {
    #main {
        flex-direction: row;
        padding: 3rem;
    }

    #main .main-content .video {
        height: 51rem;
        width: 100%;
        max-width: 102.4rem;
    }

    #main .main-content header {
        padding: 0;
    }

    #main .main-content header .video-actions {
        gap: 1.4rem 4.2rem;
    }

    #main .main-content header .video-actions .channel-info {
        gap: 1.2rem;
    }   

    #main .main-content header .video-actions .channel-info .channel-subscribers {
        font-size: 1.4rem;
    }

    #main .main-content header .video-actions .subscribe-button {
        max-width: 15.9rem;
    }
}

/* Sidebar */
#main .main-sidebar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2.5rem;
    padding: 0 1.6rem 1.6rem 1.6rem;
}

#main .main-sidebar .recommended-video-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main .main-sidebar .recommended-video-item img {
    width: 100%;
    object-fit: cover;
}

#main .main-sidebar .recommended-video-item .recommended-video-info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

#main .main-sidebar .recommended-video-item .recommended-video-info .recommended-video-title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
    width: 100%;
}

#main .main-sidebar .recommended-video-item .recommended-video-info .recommended-video-channel {
    font-size: 1.2rem;
    font-weight: 400;
    width: inherit;
    word-break: break-all;
}

#main .main-sidebar .recommended-video-item .recommended-video-info .recommended-video-views {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
    width: inherit;
}

#main .main-sidebar .recommended-video-item .recommended-video-info .recommended-video-views .break-line {
    display: none;
}

@media (min-width: 1024px) {
    #main .main-sidebar {
        padding: 0;
    }

    #main .main-sidebar .recommended-video-item {
        flex-direction: row;
        gap: 1.6rem;
    }

    #main .main-sidebar .recommended-video-item img {
        max-width: 16rem;
    }

    #main .main-sidebar .recommended-video-item .recommended-video-info {
        gap: .8rem;
    }

    #main .main-sidebar .recommended-video-item .recommended-video-info .recommended-video-title {
        max-width: 18rem;
    }

    #main .main-sidebar .recommended-video-item .recommended-video-info .recommended-video-views .break-line {
        display: block;
    }

}

/* Footer */